global
    log stdout local0 notice

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000ms
    timeout client 60000ms
    timeout server 60000ms

frontend http_front
    bind *:80
    mode http
    default_backend http_back

backend http_back
    server-template web 20 nginx:8081 check
    balance roundrobin
